<header class="main-header ex_shop_header header-style-two">
  <!-- Header Upper -->
  <div class="header-upper">
    <div class="auto-container">
      <div class="inner-container">
        <!--Logo-->
        <div class="logo_menu">
          <div class="logo-box">
            <div class="logo"><a href="/manager"><img src="assets/images/logo-2.png" alt="logo"></a></div>
          </div>
        </div>

        <ul class="right-info">
          <li><a href="#" class="search-btn"><i class="icon-user"></i> <p>My Account <span>Hello, {{username}}</span></p></a></li>
          <li><a (click)="logoff()" class="search-btn"><i class="fa fa-power-off"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
