<!--Main Footer-->
<footer class="main-footer-one">
  <div class="upper-box">
    <div class="auto-container">
      <div class="outer-box">
        <p>ANDRIAMAMONJY Johanesa Tiavina</p>
        <p>RAKOTOARISOA Manitra Nomena</p>
      </div>
    </div>
  </div>
  <div class="lower-box">
    <div class="auto-container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-widget footer-logo-widget">
            <div class="footer-logo">
              <img src="assets-bosh/images/logo-2.png" alt="logo">
            </div>
            <P>Vous offre les meilleurs services et produits automobiles en ligne à Madagascar.</P>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-widget footer-contact-widget">
            <h4 class="footer-widget-title">Projet Mean M1P12</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--End Main Footer-->
