<app-menubar-mechanic />

<main style="display: flex;">
  <div class="message-container">
    <div class="message-container-header">
      <div style="padding-bottom: 10px;">
        Discussions
      </div>
      <div class="div-btn">
        <button class="btn" [disabled]="isNewDiscussion" (click)="openNewDiscussion()"><i class="fa fa-solid fa-pen"></i></button>
      </div>
    </div>
    <div class="message-list">
      <div class="message-item" *ngIf="discussions?.length === 0">
        <div style="padding-top: 10px;">Vous n'avez aucune discussion ...</div>
      </div>
      <div *ngFor="let discussion of discussions?.reverse();" (click)="selectDiscussion(discussion._id)" [className]="discussion.isSelected ? 'selected message-item' : 'message-item'">
        <div>
          <img style="padding-top: 5px;" src="../../../assets/images/user.png" class="user-icon" >
        </div>
        <div
          [className]="
          (discussion.lastMessage && discussion.lastMessage.senderId !== senderId && discussion.lastMessage.unread) ?
          'last-message unread' : 'last-message'">
          <div class="username">{{discussion.receiver?.username || discussion.text}}</div>
          <div class="list-content" *ngIf="discussion.receiver">
            @if(discussion.lastMessage && discussion.lastMessage.senderId === senderId)
            {You:}

            {{discussion.lastMessage?.content?.slice(0,20)}}

            @if(discussion.lastMessage && discussion.lastMessage.content.length >20)
            {...}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="message-content"
       *ngIf="discussions?.length === 0">
    <div style="padding-top: 10px;">Vous n'avez aucune discussion ...</div>
  </div>
  <div class="message-content"
       *ngIf="discussions?.length !== 0">
    <div class="message-content-header"
         *ngIf="!isNewDiscussion">
      <div>
        <img class="user-icon" src="../../../assets/images/user.png" alt="">
      </div>
      <div class="user-details">
        <div class="username">
          @if(lastDiscussion?.senderId === senderId)
          {
            {{lastDiscussion?.receiver?.username }}
          }
          @else{
            {{lastDiscussion?.sender?.username }}
          }</div>
        <div class="status" style="display: flex;"><i class="icon online"></i> En ligne</div>
      </div>
    </div>
    <div class="message-content-header"
         *ngIf="isNewDiscussion">
      <div style="width: 100%;padding-bottom: 10px">
        A : <input #children style="width: 95%;height: 30px;font-size: 15px;border:0;" name="username" [(ngModel)]="username" />
      </div>
    </div>
    <div class="content" >
      @for(message of messages;track message._id)
      {
        <div
          [className]="message.senderId === senderId ? 'message sent' : 'message got'"
        >
          <div class="text-content">{{message.content}}</div>
        </div>
      }
    </div>
    <div class="message-input">
      <div class="message-text">
        <textarea [disabled]="isNewDiscussion" [(ngModel)]="chat.content" autosize [minRows]="1" [maxRows]="5" class="message-text-area" placeholder="Aa"></textarea>
      </div>
      <div>
        <img
          (click)="send()" alt="picture sending"
          class="send"
          [src]="'assets/images/send.png'">
      </div>
    </div>
  </div>
</main>
