::ng-deep body{
  overflow: hidden;
}
.message-container-header{
  padding-top: 20px;
  display: flex;
  border-bottom: 1px solid black;
}

.message-container-header{
  padding-left: 5px;
}

.btn{
  border: none;
  background: none;
  cursor: pointer;
}

.btn:hover{
  color: #D94032;
}


.message-content{
  padding-left: 20px;
}

.message-list{
  padding-top: 5px;
  overflow-y: scroll;
  height: 85vh;
  max-height: 85vh;
}

.message-item{
  padding-top: 10px;
  display: flex;
  border-bottom: 1px solid black;
  cursor: pointer;
}


.last-message{
  padding-top: 5px;
  padding-left: 10px;
}

.content{
  overflow-y: scroll;
  direction: ltr;

}

.user-icon{
  width: 40px;
  height: 40px;
}

.message-content-header{
  display:flex;
  padding-top: 5px;
  width: 83vw ;
  border-bottom: 1px solid black;
}

.user-details{
  padding-left: 10px;
  padding-top: 5px;
}

.message-input{
  display: flex;
  position:absolute;
  bottom:0;
  width:85vw;
}

.message-text{
  width: 95%;
}
.message-text-area{
  width: 99%;
  text-indent: 1px;
  vertical-align: center;
  resize: none;
  border-radius: 15px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.message-text-area:focus{
  border: 1px solid black;
}
.send{
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
}

.online{
  background: green;
}

.offline{
  background: red;
}
.status{
  font-weight: normal ;
  font-size: 10px;

}
.icon{
  margin-top: 3px;
  border-radius: 100%;
  width: 5px;
  height: 5px;
}

.selected,.message-item:hover{
  background-color: rgba(116, 184, 230, 0.61);
}

.unread{
  font-weight: bold;
}

.text-content{
  padding: 15px 15px;
}
.message{
  content: "";
  clear: both;
  display: table;
  width: max-content;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 10px;
  max-width: 300px;
}
.got{
  position: relative;
  left: 0;
  margin-bottom: 10px;
}
.sent{
  float: right;
  background: #0d95e8;
  color: white;
  border: none;
}

@media (min-width: 1000px) and (max-width: 1500px){
  .content{
    width: 83vw;
    max-height: 73vh;
  }
  .message-list{
    width: 15vw;
  }
  .div-btn{
    margin-left: 7vw;
    padding-right: 10px;
  }
  .message-container-header{
    width: 15vw;
  }
  .message-content{
    width: 77vw;
  }
  .list-content{
    max-width: 100px;
  }
}

@media (min-width: 1501px){
  .content{
    width: 83vw;
    height: 80vh;
    max-height: 80vh;
  }
  .list-content{
    max-width: 200px;
  }
  .message-list{
    width: 14vw;
  }
  .div-btn{
    margin-left: 8vw;
    padding-right: 10px;
  }
  .message-container-header{
    width: 14vw;
  }
  .message-content{
    width: 77vw;
  }
}

/*
.message-item{
  display: flex;
  border-bottom: 1px solid black;
  width: 300px;
}

.message-item:not(:first-child){
  padding-top: 10px;
}

.last-message{
  padding-left: 15px;
}

.content{
  padding-top: 10px;
  overflow-x: auto;
  max-height: 600px ;
}

.unread{
  font-weight: bold ;
}

.message-content{
  padding-left: 30px;
  width: 100%;
}

.header{
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
}

.user-title{
  padding-left: 30px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.rounded{
  border-radius: 100% !important;
}








.message-input{
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 10px;
}
.message-text{
  width: 80%;
}

.message-text-area{
  resize: none;
  width: 100%;
  border-radius: 20px;
  text-indent: 10px;
  font-size: 15px;
  padding: 10px;
  overflow: visible;
  max-height: 300px;
}


.got{
  position: relative;
  left: 0;
  margin-bottom: 10px;
}

.sent{
  position:relative;
  left: 90%;
  border: 0;
  background: #0d95e8;
  color: white;
}



.selected{
  background: #EAF4FF;
}

*/
