<div class="boxed_wrapper">

  <app-loader />

  <app-header [activeMenu]="currentActiveMenu" />

  <!-- Page Title -->
  <section class="page-title p_relative centred">
    <div class="pattern-layer">
      <div class="shape-1 p_absolute l_120 t_120 rotate-me" style="background-image: url(assets-bosh/images/shape/shape-176.png);"></div>
      <div class="shape-2 p_absolute t_180 r_170 float-bob-y" style="background-image: url(assets-bosh/images/shape/shape-56.png);"></div>
      <div class="shape-3 p_absolute l_0 b_0" style="background-image: url(assets-bosh/images/shape/shape-189.png);"></div>
    </div>
    <div class="auto-container">
      <div class="content-box">
        <h1 class="d_block fs_60 lh_70 fw_bold mb_10">Votre panier</h1>
        <ul class="bread-crumb p_relative d_block mb_8 clearfix">
          <li class="p_relative d_iblock fs_16 lh_25 fw_sbold font_family_inte mr_20"><a href="/home">Accueil</a></li>
          <li class="current p_relative d_iblock fs_16 lh_25 fw_sbold font_family_inte">Panier</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Page Title -->

  <!-- cart section -->
  <section class="cart-section p_relative pt_140 pb_150">
    <div class="auto-container">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 table-column">
          <div class="table-outer">
            <table class="cart-table">
              <thead class="cart-header">
              <tr>
                <th>&nbsp;</th>
                <th class="prod-column">Produit</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th class="price">Prix Unitaire</th>
                <th class="quantity">Quantité</th>
                <th>Prix total</th>
              </tr>
              </thead>
              <tbody>
                @if (cart?.products?.length) {
                  @for (item of cart.products; track item._id) {
                    <tr>
                      <td colspan="4" class="prod-column">
                        <div class="column-box">
                          <div class="remove-btn">
                            <i class="fa fa-times" (click)="cartService.removeItem(item._id, true).subscribe()"></i>
                          </div>
                          <div class="prod-thumb">
                            <img [src]="getSafeImagePath(item.productId?.image)" [alt]="item.name">
                          </div>
                          <div class="prod-title">
                            {{ item.productId?.name }}
                          </div>
                        </div>
                      </td>
                      <td class="price">AR {{ item.productId?.price }}</td>
                      <td class="qty">
                        <div class="item-quantity">
                          <div class="quantity-control">
                            <button (click)="decrementQuantity(item, true)">-</button>
                            <span>{{ item.productId?.quantity }}</span>
                            <button (click)="incrementQuantity(item, true)">+</button>
                          </div>
                        </div>
                      </td>
                      <td class="sub-total">$70.30</td>
                    </tr>
                  }
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="cart-total">
        <div class="row">
          <div class="col-xl-5 col-lg-12 col-md-12 offset-xl-7 cart-column">
            <div class="total-cart-box clearfix">
              <h3 class="fs_24 fw_sbold lh_30 d_block">Panier total</h3>
              <ul class="list clearfix mb_30">
                <li>Total:<span>$150.50</span></li>
                <li>Avec remise:<span>$150.50</span></li>
              </ul>
              <a href="" class="theme-btn theme-btn-eight">Valider mes achats <i class="icon-4"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- cart section end -->

  <app-footer />

  <!--Scroll to top-->
  <div class="scroll-to-top">
    <div>
      <div class="scroll-top-inner">
        <div class="scroll-bar">
          <div class="bar-inner"></div>
        </div>
        <div class="scroll-bar-text">Go To Top</div>
      </div>
    </div>
  </div>
  <!-- Scroll to top end -->

</div>
