<app-menubar-manager />

<main>
  <div class="title"><h2>Liste des produits avec les stocks disponibles</h2></div>
  <div align="right"><a href="/manager/create/product"><button class="add">New Product</button></a></div>
  <div style="padding-top: 30px">
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Stock</th>
        <th>Limite avant notification</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products" align="center">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.category}}</td>

        @if (product.result !== undefined)
          {
            <td>{{product.result?.stockQuantity}}</td>
            <td>{{product.result?.threshold}}</td>
            <td><button class="update" (click)="updateModal(product.result)">Update stock</button></td>
          } @else {
          <td style="color: red;">Aucun</td>
          <td style="color: red;">Aucun</td>
          <td><button class="add" (click)="createModal(product._id)">Add stock</button></td>
        }







        <td><button class="update" (click)="linkUpdate(product._id)">Update</button></td>


        <td *ngIf="product.result === undefined"><button  class="delete" (click)="delete(product._id,undefined)">Delete</button></td>
        <td *ngIf="product.result !== undefined"><button  class="delete" (click)="delete(product._id,product.result?._id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</main>

<dialog [open]="isOpen">
  <div class="header">
    <div><h5>{{modalDescription}} : {{stock.productId}}</h5></div>
    <div><img src="assets/images/close.png"  (click)="closeModal()" style="cursor: pointer;width:10px; height:10px;" /></div>
  </div>
  <div class="item">
    <div>Stock quantity :</div>
    <div>
      <input type="number" name="stockQuantity" [(ngModel)]="stock.stockQuantity" />
    </div>
  </div>
  <div class="item">
    <div>Threshold : </div>
    <div>
      <input type="number" name="threshold" [(ngModel)]="stock.threshold" />
    </div>
  </div>
  <div align="center">
    <button *ngIf="!isUpdate" (click)="submitStock()" class="add">Add</button>
    <button *ngIf="isUpdate" (click)="updateStock()" class="add">Update</button>
  </div>
</dialog>
