<app-menubar-mechanic />

<main style="display: flex;padding-top: 20px">
  <div class="message-list">
    <div class="header" style="display: flex">
      <div style="padding-bottom: 10px;">
        Discussions
      </div>
      <div style="padding-bottom: 10px;" class="div-btn">
        <button class="btn" (click)="openNewDiscussion()">New</button>
      </div>
    </div>
    <div *ngFor="let discussion of discussions" class="message-item" [className]="discussion.isSelected ? 'selected' : ''">
      <div>
        <img src="../../../../assets/images/user.png" style="width: 50px;height: 50px" class="rounded" >
      </div>
      <div class="last-message unread">
        <div class="username">{{discussion.receiver || discussion.text}}</div>
        <div class="content" *ngIf="discussion.receiver">Good Morning</div>
      </div>
    </div>
  </div>
  <div class="message-content">
    <div class="header" *ngIf="!isNewDiscussion">
      <div>
        <img src="../../../../assets/images/user.png" style="width: 50px;height: 50px;" class="rounded">
      </div>
      <div class="user-title">
        <div class="username">Ratits</div>
        <div class="status" style="display: flex;"><i class="icon online"></i>En ligne</div>
      </div>
    </div>
    <div class="header" *ngIf="isNewDiscussion">
      <div style="width: 100%;padding-bottom: 10px">
        A : <input #children style="width: 95%;height: 35px;font-size: 25px;border:0;" name="username" [(ngModel)]="username" />
      </div>
    </div>
    <div class="content">
      @for(message of messages;track message._id)
      {
        <div class="message" [className]="message.senderId === senderId ? 'sent' : 'got'">
          <div class="text-content">{{message.content}}</div>
        </div>
      }
    </div>
    <div class="message-input">
      <div class="message-text">
        <textarea [(ngModel)]="chat.content" autosize class="message-text-area"></textarea>
      </div>
      <div>
        <img (click)="send()" alt="picture sending" class="send" [src]="'assets/images/send.png'" style="width: 20px;height: 20px;cursor: pointer;">
      </div>
    </div>
  </div>
</main>
