.assign{
  width: 120px;
  height: 40px;
  color: blue;
  background-color: white;
  border: 1px solid blue;
  cursor: pointer;
}

.pending{
  width: 120px;
  height: 40px;
  color: blue;
  background-color: white;
  border: 1px solid blue;
  cursor: pointer;
}

.prev,.next{
  border: 0px solid blue;
  background-color: white;
  cursor: pointer;
}

.finished{
  width: 120px;
  height: 40px;
  color: green;
  background-color: white;
  border: 1px solid green;
}
.not-started{
  width: 120px;
  height: 40px;
  color: red;
  background-color: white;
  border: 1px solid red;
}


.assign:hover,.pending:hover{
  background-color: blue;
  color: white;
  border: 1px solid blue;
}

.agenda{
  margin-left: 40px;
  width: 35%;
  border: 2px solid;
  margin-right: 10px;
}
.reservation{
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.hour{
  padding-top: 10px;
}

.agenda-items{
  padding-top: 30px;
}

.agenda-item:not(:first-child){
  padding-top: 10px;
}

.agenda-item{
  display: flex;
  padding-left: 10px;
}

.description{
  padding-left: 50px;
}

.date-display{
  width: 350px;
}

.detail{
  padding-top: 10px;
}
