@media (min-width: 1000px) and (max-width: 1500px){
  .title
  {
    padding-left: 50px;
  }
  .app-agenda{
    padding-top: 50px;
  }
  .date{
    width: 200px;
    padding-left: 200px;
  }
  .button-position{
    padding-left: 100px;
  }
  .btn{
    padding-left: 45px;
  }
}

@media (min-width: 1501px) and (max-width:1920px) {
  .title
  {
    padding-left: 10px;
  }
  .app-agenda{
    padding-left: 50px;
  }
  .date{
    padding-left: 50px;
    width: 150px;
  }
  .button-position{
    padding-left: 40px;
  }
  .btn{
    padding-left: 20px;
  }
}

.btn{
  cursor: pointer;
}

h3 {
  margin: 0 0 10px;
}

dialog{
  position:fixed;
  top:30%;
}

.header{
  height: 20px;
  border-bottom: 1px solid black;
}

.close{
  position:relative;
  left:98%;
  font-size: 15px;
  cursor: pointer;
}

.close:hover{
  color:red;
}

.main{
  padding-top: 10px;
}

.main-item{
  display: flex;
  padding-top: 5px;
}

.loading{
  position: absolute;
  top: 50%;
}
